# Prerequisites
*.d
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# pio
**/.pio
Side_Projects/ESP32FC/build/
Side_Projects/ESP32GS/build/

# Python environments and bytecode
**/.venv/
**/venv/
**/__pycache__/
*.py[cod]

# vscode settings
.vs
.vscode
.vscode/**
.vs/**
**/*.code-workspace

# jetbrains settings
.idea
.idea/**

# kiCAD extra files
Spaceport/PCBs/**/*-backups
Spaceport/PCBs/**/_autosave*
Spaceport/PCBs/**/*-backups/**
Spaceport/PCBs/**/_autosave*/**
**#auto_saved_files#**
Spaceport/PCBs/Sensor Boards/SensorBoardSMA/Downloads/
*.kicad_prl
*.kicad_sch-bak
**/fp-info-cache
**/~*.kicad*
Side_Projects/**/*-backups
Side_projects/**/_autosave*
Apollo/**/_autosave*
Side_projects/**/#auto_saved_files#
Side_Projects/Live Video/mux/3-stream/output/mux.txt
Side_Projects/Live Video/mux/3-stream/output/mux.bin
Spaceport/PCBs/live-video-multi-function-board/\#auto_saved_files\#
**/.history/
**/*-backups/**
.history

# MATLAB
*.asv

#digikey creds
**/digikey_credentials.txt
Spaceport/PCBs/backup_radio/.history
Spaceport/PCBs/flight-computer/Alternate layout/production/backups/
**/.claude/**
