# Prerequisites
*.d
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# pio
**/.pio

# vscode settings
.vs
.vscode
.vscode/**
.vs/**
**/*.code-workspace

# jetbrains settings
.idea
.idea/**

# kiCAD extra files
Spaceport/PCBs/**/*-backups
Spaceport/PCBs/**/_autosave*
Spaceport/PCBs/**/#auto_saved_files#
*.kicad_prl
**/fp-info-cache
**/~*.kicad*
Side_Projects/**/*-backups
Side_projects/**/_autosave*
Side_projects/**/#auto_saved_files#
Side_Projects/Live Video/mux/3-stream/output/mux.txt
Side_Projects/Live Video/mux/3-stream/output/mux.bin
