[submodule "Side_Projects/Ground-Station"]
	path = Side_Projects/Ground-Station
	url = https://github.com/Terrapin-Rocket-Team/Ground-Station
[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://gitlab.com/libeigen/eigen.git
