[Unit]
Description=ARC Controller service
After=multi-user.service

[Service]
Type=idle
User=USER_NAME
WorkingDirectory=USER_SCRIPT/ARC
ExecStart=USER_SCRIPT/ARC/ARC_controller.py

[Install]
WantedBy=multi-user.target
