@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --main-red: rgb(190, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.small,
.small-flex {
  display: none;
}

#top-nav {
  width: 100vw;
  height: 12vh;
  max-height: 55px;
  background-color: var(--main-red);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

#top-nav-left,
#top-nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}

#top-nav-left {
  width: 70%;
  float: left;
  justify-content: left;
  padding-left: 3vw;
}

#top-nav-right {
  width: 30%;
  float: right;
  justify-content: right;
  padding-right: 3vw;
}

#logo {
  text-decoration: none;
  color: #000;
  font-size: calc(1.5vh + 8px);
  float: left;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #eee;
  border-right: 2px solid #eee;
  margin-right: 3vw;
  height: 12vh;
  max-height: 55px;
}

#logo::after {
  position: absolute;
  right: -13vh;
  bottom: 0vh;
  content: "";
  border-top: 13vh solid #eee;
  border-right: 13vh solid var(--main-red);
  /* transition: 0.2s border-right linear; */
}

#logo img {
  margin: 0 1vw;
  height: 70%;
  min-width: 4vw;
}

#logo:hover {
  cursor: pointer;
}

.top-nav-link {
  height: 100%;
  padding: 0 2vw;
  text-decoration: none;
  color: #11a;
  font-size: calc(1.5vh + 8px);
  float: left;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ccc;
  transition: border 0.5s linear;
  transition: background-color 0.3s linear;
}

.top-nav-link.active {
  border-bottom: 2px solid #11a;
}

.top-nav-link:hover {
  background-color: #aaa;
  border-bottom: 2px solid #11a;
  transition: border 0.3s linear;
  transition: background-color 0.3s linear;
}

#hamburger-menu {
  background-color: inherit;
  display: block;
  border: none;
  margin-right: 3vw;
  float: right;
}

#hamburger-menu-img {
  height: 12vh;
  max-height: 55px;
}

#hamburger-menu:hover {
  background-color: #aaa;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

#logo-small {
  margin-left: 3vw;
  float: left;
  text-decoration: none;
  color: #000;
  font-size: calc(1.5vh + 8px);
  align-items: center;
  border-bottom: 2px solid #ccc;
  height: 12vh;
  max-height: 55px;
}

#logo-small img {
  margin-right: 1vw;
  height: 100%;
}

#small-nav {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 100vw;
  top: 0;
  transition: left 0.3s linear;
  background-color: #11a;
  z-index: 999;
}

#small-nav.visible {
  left: 0;
  transition: left 0.3s linear;
}

.small-nav-link {
  font-size: calc(1.5vh + 5px);
  color: white;
  display: block;
  text-decoration: none;
  padding: 3vh 10vw;
  background-color: #11a;
  transition: background-color 0.3s linear;
}

.small-nav-link:hover {
  background-color: #44a;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

#top-bar-buffer,
#back {
  height: 12vh;
  max-height: 55px;
}

#small-bar-buffer {
  height: 12vh;
  max-height: 55px;
  position: relative;
  margin: 2vh 0;
}

#back {
  float: right;
  background-color: #11a;
  transition: background-color 0.3s linear;
  margin-right: 5vw;
  height: 12vh;
  max-height: 55px;
}

#back:hover {
  background-color: #44a;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

#small-bar-buffer p {
  font-size: calc(2vh + 5px);
  float: left;
  color: white;
  margin-left: 10vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

input,
textarea {
  border: 2px solid lightgray;
  font-size: calc(1.3vh + 4px);
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid gray;
}

#page-content {
  padding-top: min(12vh, 55px);
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 80% 20%;
}

#left-content {
  height: 100%;
  width: 100%;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 2vw;
  gap: 2vh 0;
}

#download-latest {
  width: 80%;
}

button {
  padding: 0.5vh 0;
  border: 3px solid var(--main-red);
  border-radius: 5px;
  background-color: inherit;
  color: var(--main-red);
  transition: background-color 0.2s linear;
  transition: color 0.2s linear;
}

button:hover {
  background-color: var(--main-red);
  color: white;
  cursor: pointer;
}

#downloads-list {
  width: 80%;
  background-color: darkgray;
  border-radius: 7px;
  height: 80%;
}

#center-content {
  height: 100%;
  width: 100%;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: inherit;
  padding: 2vh 2vw;
}

#video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

#center-content video {
  max-height: 100%;
  max-width: 100%;
}

#bottom-content {
  height: 100%;
  width: 100%;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* background-color: rebeccapurple; */
}

#bottom-content button {
  width: 20%;
}

@media only screen and (max-width: 1040px) {
  #top-nav-left,
  #top-nav-right {
    display: none;
  }
  .small {
    display: block;
  }
  .small-flex {
    display: flex;
  }
  _::-webkit-full-page-media,
  _:future,
  :root #page-content {
    padding-bottom: 110px;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: inherit;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: inherit;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}
